@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


    .attribution { font-size: 11px; text-align: center; }

    .attribution a { color: hsl(228, 45%, 44%); }

    h1 {
        color: hsl(218, 44%, 22%);
        width: 100%;
    }

    p {
        font-size: 15px;
        color: hsl(220, 15%, 55%);
    }

    .card {
        border: 3px solid white;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%);
        padding: 1rem;
        margin-bottom: 2rem;
        max-width: 300px;
    }

    img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;
    }